langchain
langchain-community
langchain-text-splitters
unstructured
markdown
faiss-cpu
sentence-transformers
pypdf
python-dotenv
groq
streamlit
torchvision
fontTools
docx2txt
# crewai # agentic framework